@import '~materialize-css';
@import 'font.scss';

$primary-color: color("deep-purple", "accent-3") !important;
$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

header,
main,
footer {
  margin-left: 300px;
}

.container-main {
  margin-left: 300px;

  iframe {
    height: -webkit-fill-available;
    border: none;
    padding: 0px;
  }
}

.container-lesson {
  @extend .container;
  padding-bottom: 100px;
}

.top-nav {
  margin-left: 300px;

  .brand-logo {
    width: fit-content;
    padding-left: 10px;

    @media #{$medium-and-down} {
      font-size: 22px;
    }
  }
}

.collection-item {
  word-break: break-all;
  height: auto;
}

.menu-lesson-name {
  @extend .waves-effect;
  word-break: break-word;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  height: fit-content !important;
  line-height: 20px !important;
  float: left;
}

#slide-out::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

.sidenav {

  .user-view .background,
  .uv-li {
    justify-content: space-around;
    background-color: $primary-color;
    display: flex;
    height: 100px;

    div {
      @extend .background;
      @extend .user-view;
      @extend .center;
      padding: 10px !important;

      img {
        max-width: 80%;
        object-fit: scale-down;
      }
    }
  }

  li {
    line-height: normal;
  }
}


.slideout-close-button {
  display: none;
}

@media only screen and (max-width : 992px) {
  .slideout-close-button {
    color: white;
    cursor: pointer;
    display: block;
  }

  .container-main {
    margin-left: 0;
  }

  .top-nav {
    margin-left: 0;
  }

  .background {
    justify-content: space-around;
    display: flex;
  }

  header,
  main,
  footer {
    margin-left: 0;
  }
}

@import '~materialize-css';
@import 'font.scss';

$primary-color: color("deep-purple", "accent-3") !important;
$primary-color-light: false !default;
$primary-color-dark: false !default;

@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}

@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;


header,
main,
footer {
  margin-left: 300px;
}

.container-main {
  margin-left: 300px;

  iframe {
    border: none;
    padding: 0px
  }
}

.top-nav {
  margin-left: 300px;

  .brand-logo {
    padding-left: 10px;
  }
}

.collection-item {
  word-break: break-all;
  height: auto;
}

.menu-lesson-name {
  @extend .waves-effect;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  height: fit-content !important;
  line-height: 20px !important;
  float: left;
}

#slide-out::-webkit-scrollbar {
  display: none;
}

.sidenav {

  .user-view .background,
  .uv-li {
    justify-content: space-around;
    display: flex;
    height: 100px;

    div {
      @extend .background;
      @extend .user-view;
      @extend .center;
      padding: 10px !important;

      img {
        max-width: 80%;
        object-fit: scale-down;
      }
    }
  }

  li {
    line-height: normal;
  }

  .topics-li {
    @extend .subheader;
    font-size: 20px;
  }
}


.slideout-close-button {
  display: none;
}

@media only screen and (max-width : 992px) {
  .slideout-close-button {
    display: block;
  }

  .container-main {
    margin-left: 0;
  }

  .top-nav {
    margin-left: 0;
  }

  .background {
    justify-content: space-around;
    display: flex;
  }

  header,
  main,
  footer {
    margin-left: 0;
  }
}

/* Lesson page styles */
.get-started-button {
  @extend .btn-large;
  @extend .waves-effect;
  @extend .waves-light;
  margin: 50px;
}

.lesson-image-fw {
  @extend .responsive-img;
  // @extend .materialboxed;
}

.right-arrow-svg {
  @extend .col;
  @extend .s2;
  @extend .lesson-image-fw;
  background: url("../assets/svg/arrow.svg");
  width: 60px !important;
  height: 60px !important;
  padding: 30px !important;
}

.halfpage-img {
  @extend .lesson-image-fw;
  @extend .col;
  @extend .s6;
}